{% if menu %}
	<ul class="nav-list" class="{{ item.classes | join(' ') }}">
	{% for item in items %}
			<li class="nav-item">
				<a class="nav-link" role="button" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			</li>
			{% include "menu.twig" with {'items': item.children} %}
	{% endfor %}
	</ul>
{% endif %}
